body{
    background-color: cornflowerblue;
    margin: 0 0 0 0;
}
.encabezado{
    display: flex;
}
.titulo{
    width: 33.3%;
    text-align: right;
    background-color: antiquewhite;
    padding-right: 15px;
    border-radius: 20px;
}
.menu{
    width: 33.3%;
    float: right;
}
.relleno{
    width: 33.3%;
    color: cornflowerblue;
}
.mcontent{
    background-color: antiquewhite;
    width: 50%;
    text-align: right;
    float: right;
    justify-content: right;
    padding-right: 15px;
}
.cuerpo{
    padding-top: 5%;
    display: flex;
    width: 100%;
}
.intro{
    width: 100%;
}
.introimg2{
    width: 100%;
}
.imagenes{
    display: block;
    float: none;
    width: 30%;
}
.texto{
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}
.Espaciado{
    padding-top: 50px;
}
.textcenter{
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
}
p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 34px;
    padding-right: 20px;
}
a{
    color: black;
}
ul, ol{
    list-style: none;
}
.nav li a{
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover{
    background-color: gray;
}

.nav > li{
    float: left;
}
.nav li ul{
    display: none;
}
.nav li:hover > ul{
    display: block;
}
#foto{
    width: 5%;
}
#No2{
    float: left;
}
footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}